
 
<!--header--> 


<div class="top_bg">
  <div class="container">
    <div class="header_top-sec">
      <div class="top_right">
        
      </div>
      <div class="top_left">
        
      </div>
        <div class="clearfix"> </div>
    </div>
  </div>
</div>

 

<div class="header-top">
   <div class="header-bottom">
     <div class="container">      
        <div class="logo">
          <a href="index.html"><h1>Market Place</h1></a>
        </div>
       <!---->
       <div class="top-nav">
        
        <ul class="nav nav-pills">
           {{ page.main_navigation}}
        </ul>

        <div class="clearfix"> </div>
       </div>
       <!---->
         <div class="cart box_1">
         {{ page.user_login }}
        <div class="clearfix"> </div>
       </div> 

       <div class="clearfix"> </div>
       <!---->       
       </div>
      <div class="clearfix"> </div>
    </div>
</div>
<!---->



<div class="banner">
   <div class="container">
      {{ page.frontimage }}
   </div>
</div>
<!---->



<div class="welcome">
   <div class="container">
     <div class="col-md-3 welcome-left">
       {{ page.sidebar }}
     </div>
     <div class="col-md-9 welcome-right">
       {{ page.sidebar2 }}
     </div>
   </div>
   <div class="container" style="padding-left: 400px">
     <div class="col-md-8">
       {{ page.solr_search }}
     </div>
   </div>  
</div>
<!---->

<div class="row">
  <div class="col-md-3">
    {{ page.facet1 }}
  </div>
  
  <div class="col-md-3">
    {{ page.facet2 }}
  </div>

  <div class="col-md-2">
    {{ page.facet3 }}
  </div>

  <div class="col-md-2">
    {{ page.facet4 }}
  </div>

</div>

<!--->
<div class="bride-grids">
   <div class="container">
  
     {{ page.images }}
   </div>
</div>
<!---->
<div class="featured">
  
      {{ page.arrival_heading }}
   
   
      {{ page.new_arrivals }}
   
   
      {{ page.classification_heading }}
   
   
     {{ page.classification}}  

 
   
   </div>
</div>

<div class="container" >
     <div class="col-md-12">
       {{ page.main_region }}
     </div>
</div>  



<!---->
<div class="footer">
   <div class="container">
     <div class="ftr-grids">
       <div class="col-md-3 ftr-grid">
         {{ page.contact_us }}
       </div>
       <div class="col-md-3 ftr-grid">
         {{ page.important_links }}
       </div>
       <div class="col-md-3 ftr-grid">
         {{ page.more_information }}
       </div>
       <div class="col-md-3 ftr-grid">
         {{ page.advertisements  }}
       </div>
       
       <div class="clearfix"></div>
     </div>   
   </div>
</div>
<!---->
 <div class="copywrite">
   <div class="container">
       {{ page.footer_bottom }}
     </div>
</div>     
